<!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Welcome to the best photo editor yet</title>

    {% block base_css %}
    <!-- Bootstrap Core CSS -->
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <!-- Custom Fonts -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Lancelot|Pirata+One|Old+Standard+TT|Ubuntu" rel="stylesheet" rel="stylesheet" />
    {% endblock base_css %}

    {% block extended_css %}
        {# override this block to add app/feature-specific css in extending templates #}
    {% endblock extended_css %}

  </head>

  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7&appId={{ FACEBOOK_APP_ID }}";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    {% block main %}{% endblock %}

    {% block base_js %}
    <!-- Javascript libraries -->
    {% load static %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock base_js %}

    {% block extended_js %}
     <!-- override this block to add app/feature-specific js libraries and scripts in extending templates -->
    {% endblock extended_js %}

  </body>
</html>
